<div class="footer">
  <ul class="footer-content">
    <li>
      <%= link_to '利用目的', page_path('terms'), class:"footer-item" %>
    </li>
    <li>
      <%= link_to 'プライバシーポリシー', page_path('privacy_policy'), class:"footer-item" %>
    </li>
  </ul>
  <h1>©︎2022 Carcierge</h1>
</div>
